[package]
name = "biliroaming_rust_server"
version = "0.3.1"
edition = "2021"
#author = "P CH"

[dependencies]
chrono = "0.4.23"
curl = "0.4.44"
actix-web = "4.2.1"
actix-files = "0.6.2"
qstring = "0.7.2"
md5 = "0.7.0"
serde_json = "1.0.89"
serde_yaml = "0.9.14"
serde = {version ="1.0.147",features = ["derive"]}
deadpool = "0.9.5"
deadpool-redis = "0.11.0"
async-channel = "1.7.1"
futures = "0.3.25"
tokio = { version = "1.22.0", features = ["full"] }
pcre2 = "0.2.3"
ctrlc = "3.2.3"
rand = "0.8.5"
actix-governor = "0.4.0-beta.3"
fake-useragent = "0.1.3"
urlencoding = "2.1.2"
lazy_static = "1.4.0"
log = "0.4"
env_logger = "0.10.0"

[profile.fast]
inherits = "release"
opt-level = 3 
debug = false 
split-debuginfo = 'off' 
debug-assertions = false 
overflow-checks = false 
lto = true 
panic = 'unwind' 
incremental = false 
codegen-units = 1 
rpath = false
