[package]
name = "biliroaming_rust_server"
version = "0.3.1"
edition = "2021"

[dependencies]
chrono = "0.4.19"
curl = "0.4.43"
actix-web = "4.1.0"
actix-files = "0.6.2"
qstring = "0.7.2"
md5 = "0.7.0"
serde_json = "1.0.82"
serde_yaml = "0.9.2"
serde = {version ="1.0.139",features = ["derive"]}
deadpool = "0.9.5"
deadpool-redis = "0.11.0"
async-channel = "1.6.1"
futures = "0.3.21"
tokio = { version = "1.20.1", features = ["full"] }
pcre2 = "0.2.3"
ctrlc = "3.2.3"
rand = "0.8.5"
actix-governor = "0.3.2"
governor = "0.4.2"
urlencoding = "2.1.2"
lazy_static = "1.4.0"
log = "0.4"
env_logger = "0.10"

[profile.fast]
inherits = "release"
opt-level = 3 
debug = false 
split-debuginfo = 'off' 
debug-assertions = false 
overflow-checks = false 
lto = true 
panic = 'unwind' 
incremental = false 
codegen-units = 1 
rpath = false
